.env
.venv/
venv/
env/
__pycache__/
*.py[cod]
.Python
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
*.egg-info/
build/
dist/

# IDEs and editors
.vscode/
.idea/

# macOS
.DS_Store
